# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/
